
.serviсes__item-container{
    margin-bottom: 74px;
    background-image: url(../images/Grayfon.png);
    position: relative;
    width: 1150px;
    height: 283px;
}
.serviсes__item-text{
    Width:749px;
    Height:116px;
    font-size: 22px;
    line-height: 28.6px;
    position: absolute;
    left: 40px;
    top: 127px; 
}
.serviсes__item-title{
    position: absolute;
    left: 40px;
    top: 40px;
    color: #f96306;
}
.serviсes__title{
    Width:403px;
    Height:92px;
    margin-bottom: 74px;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: -1.05px;
}



